@import url('https://fonts.cdnfonts.com/css/arial-mt');

body {
    background-color: #ba4949;
    font-family: 'Arial Round MT Bold', sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    background-color: #c15c5c;
    border-radius: 25px;
    margin: 5% 20% 5% 20%;
}

.score {
    display: flex;
    font-size: xx-large;
}

.score-child {
    flex: 1;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 10%;
    gap: 3rem;
}

.btn {
    background-color: white;
    border: white;
    border-radius: 10px;
    font-size: large;
    color: #c15c5c;
    flex: 1;
    min-height: 4rem;
}

.results {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player, .computer, .winner {
    flex: auto;
    padding: 1rem;
}
